@import "../../../styles/variables";
@import "../../../styles/mat-theme";

.nav-list {
  .links {
    padding: 10px 0;

    a {
      color: #FFF;
      
      .label {
        margin-left: 15px;
      }
    }
  }
}

@include color($clinic-app-theme);