<div class="sidenav-box">
    <app-top-navbar (sidenavToggled)="snav.toggle()"></app-top-navbar>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" class="sidenav" [opened]="mobileQuery.matches ? 'false' : 'true'">
            <app-side-navbar></app-side-navbar>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="dashboard">
                <div class="dashboard-content">
                    <router-outlet></router-outlet>
                </div>
            </div>           
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

